<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ComposeApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Compose1"
        tools:targetApi="34">
        <activity
            android:name=".presentation.layout.MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Compose1" />

        <activity
            android:name=".presentation.ex1.Ex1Activity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/Theme.Compose1" />

        <activity
            android:name=".presentation.ex2.Ex2Activity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/Theme.Compose1" />

        <activity
            android:name=".presentation.ex3.Ex3Activity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/Theme.Compose1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>